<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
        <br/>
        <a th:href="@{/creador/agregar}">Crear Creador de Eventos</a>
        <div th:if="${creadores != null and !creadores.empty}">
            <table border="1">
                <tr>
                     <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Documento</th>
                    <th>Contraseña</th>
                    <th>Provincia</th>
                    <th>Localidad</th>
                    <th>Domicilio</th>
                    <th>Saldo</th>
                </tr>
                <tr th:each="creador : ${creadores}">
                    <td th:text="${creador.nombre}">Mostrar nombre</td>
                    <td th:text="${creador.apellido}">Mostrar apellido</td>
                    <td th:text="${creador.celular}">Mostrar celular</td>
                    <td th:text="${creador.email}">Mostrar email</td>
                    <td th:text="${creador.documento}">Mostrar documento</td>
                    <td th:text="${creador.contrasenia}">Mostrar contraseña</td>
                    <td th:text="${creador.provincia}">Mostrar provincia</td>
                    <td th:text="${creador.localidad}">Mostrar localidad</td>
                    <td th:text="${creador.domicilio}">Mostrar domicilio</td>
                    <td th:text="${creador.saldo}">Mostrar saldo</td>
                    <td><a th:href="@{editar/} + ${creador.id}" th:text="Editar"/></td>
                    <td><a th:href="@{eliminar(id=${creador.id})}" th:text="Eliminar"/></td>
                    
                </tr>
            </table>
        </div>
        <div th:if="${creadores == null or creadores.empty}">
            La lista de creadores de eventos está vacía
        </div>

    </body>
</html>
