<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
        <br/>
        <a th:href="@{/publicidad/agregar}">Crear Publicidad</a>
        <div th:if="${publicidades != null and !publicidades.empty}">
            <table border="1">
                <tr>
                    <th>Flyer</th>
                    <th>Plan Publicitario</th>
                    <th>Evento</th>
                </tr>
                <tr th:each="publicidad : ${publicidades}">
                    <td th:text="${publicidad.flyer}">Mostrar Flyer</td>
                    <td th:text="${publicidad.planPublicitario}">Mostrar Plan Publicitario</td>
                    <td th:text="${publicidad.evento}">Mostrar Evento</td>

                    <td><a th:href="@{editar/} + ${publicidad.id}" th:text="Editar"/></td>
                    <td><a th:href="@{eliminar(id=${publicidad.id})}" th:text="Eliminar"/></td>
                    
                </tr>
            </table>
        </div>
        <div th:if="${publicidades == null or publicidades.empty}">
            La lista de publicidades está vacía
        </div>

    </body>
</html>
