<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
        <br/>
        <a th:href="@{/agregar}">Crear Cuenta</a>
        <div th:if="${cuentas != null and !cuentas.empty}">
            <table border="1">
                <tr>
                    <th>Alias</th>
                    <th>CBU</th>
                    <th>Banco</th>
                    <th>Creador de evento</th>
                </tr>
                <tr th:each="cuenta : ${cuentas}">
                    <td th:text="${cuenta.alias}">Mostrar alias</td>
                    <td th:text="${cuenta.cbu}">Mostrar cbu</td>
                    <td th:text="${cuenta.banco}">Mostrar banco</td>
                    <td th:text="${cuenta.creadorDeEvento}">Mostrar creador de evento</td>
                    <td><a th:href="@{editar/} + ${cuenta.id}" th:text="Editar"/></td>
                    <td><a th:href="@{eliminar(id=${cuenta.id})}" th:text="Eliminar"/></td>
                    
                </tr>
            </table>
        </div>
        <div th:if="${cuentas == null or cuentas.empty}">
            La lista de cuentas está vacía
        </div>

    </body>
</html>
