<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
        <br/>
        <a th:href="@{/agregar}">Crear Cliente</a>
        <div th:if="${clientes != null and !clientes.empty}">
            <table border="1">
                <tr>
                     <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Documento</th>
                    <th>Contraseña</th>
                    <th>Provincia</th>
                    <th>Localidad</th>
                    <th>Domicilio</th>
                    <th>Localizacion</th>
                    <th>Sexo</th>
                </tr>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.nombre}">Mostrar nombre</td>
                    <td th:text="${cliente.apellido}">Mostrar apellido</td>
                    <td th:text="${cliente.celular}">Mostrar celular</td>
                    <td th:text="${cliente.email}">Mostrar email</td>
                    <td th:text="${cliente.documento}">Mostrar documento</td>
                    <td th:text="${cliente.contrasenia}">Mostrar contraseña</td>
                    <td th:text="${cliente.provincia}">Mostrar provincia</td>
                    <td th:text="${cliente.localidad}">Mostrar localidad</td>
                    <td th:text="${cliente.domicilio}">Mostrar domicilio</td>
                    <td th:text="${cliente.localizacion}">Mostrar localizacion</td>
                    <td th:text="${cliente.sexo}">Mostrar sexo</td>
                    <td><a th:href="@{editar/} + ${cliente.id}" th:text="Editar"/></td>
                    <td><a th:href="@{eliminar(id=${cliente.id})}" th:text="Eliminar"/></td>
                    
                </tr>
            </table>
        </div>
        <div th:if="${clientes == null or clientes.empty}">
            La lista de clientes está vacía
        </div>

    </body>
</html>
