<!DOCTYPE html>
<html lang="es">  
    <head>    
        <title>MiNoche</title>    
        <meta charset="UTF-8">
        <meta name="title" content="Título de la WEB">
        <meta name="description" content="Descripción de la WEB">     
    </head>  
    <body>    
        <header>
            <h1>Bienvenidos a MiNoche</h1>      
        </header>    
        <nav>
            <a href="http://localhost:8080/administrador/">Administrador</a>
            <br>
            <a href="http://localhost:8080/cliente/">Cliente</a>
            <br>
            <a href="http://localhost:8080/creador/">Creador de Eventos</a>
            <br>
            <a href="http://localhost:8080/cuenta/">Cuenta</a>
            <br>
            <a href="http://localhost:8080/entrada/">Entrada</a>
            <br>
            <a href="http://localhost:8080/evento/">Evento</a>
            <br>
            <a href="http://localhost:8080/lugar/">Lugar</a>
            <br>
            <a href="http://localhost:8080/pago/">Pago</a>
            <br>
            <a href="http://localhost:8080/publicitario/">Plan Publicitario</a>
            <br>
            <a href="http://localhost:8080/reserva/">Reserva</a>
            <br>

        </nav>

    </body>  
</html>