<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
        <br/>
        <a th:href="@{/lugar/agregar}">Crear Lugar</a>
        <div th:if="${lugares != null and !lugares.empty}">
            <table border="1">
                <tr>
                     <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Tipo</th>
                    <th>Provincia</th>
                    <th>Localidad</th>
                    <th>Domicilio</th>
                    <th>Localizacion</th>
                </tr>
                <tr th:each="lugar : ${lugares}">
                    <td th:text="${lugar.nombre}">Mostrar nombre</td>
                    <td th:text="${lugar.telefono}">Mostrar telefono</td>
                    <td th:text="${lugar.email}">Mostrar email</td>
                    <td th:text="${lugar.tipo}">Mostrar tipo</td>
                    <td th:text="${lugar.provincia}">Mostrar provincia</td>                
                    <td th:text="${lugar.localidad}">Mostrar localidad</td>
                    <td th:text="${lugar.domicilio}">Mostrar domicilio</td>
                    <td th:text="${lugar.localizacion}">Mostrar localizacion</td>
                    <td><a th:href="@{editar/} + ${lugar.id}" th:text="Editar"/></td>
                    <td><a th:href="@{eliminar(id=${lugar.id})}" th:text="Eliminar"/></td>
                    
                </tr>
            </table>
        </div>
        <div th:if="${lugares == null or lugares.empty}">
            La lista de lugares está vacía
        </div>

    </body>
</html>
