<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
      <title>Datos del Lugar</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Datos del Lugar</h1>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <form th:action="@{/guardar}" method="post" th:object="${lugar}">
            <input type="hidden" name="id" th:field="*{id}"/>
            <br/>
            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <br/>
            <label for="telefono">Telefono: </label>
            <input type="number" name="telefono" th:field="*{telefono}"/>
            <br/>
            <br/>
            <label for="email">Email: </label>
            <input type="email" name="email" th:field="*{email}"/>
            <br/>
            <br/>
            <label for="tipo">Tipo: </label>
            <input type="text" name="tipo" th:field="*{tipo}"/>
            <br/>
            <br/>
            <label for="provincia">Provincia: </label>
            <input type="text" name="provincia" th:field="*{provincia}"/>
            <br/>
            <br/>
            <label for="localidad">Localidad: </label>
            <input type="text" name="localidad" th:field="*{localidad}"/>
            <br/>
            <br/>
            <label for="domicilio">Domicilio: </label>
            <input type="text" name="domicilio" th:field="*{domicilio}"/>
            <br/>
            <br/>
            <label for="localizacion">Localizacion: </label>
            <input type="text" name="localizacion" th:field="*{localizacion}"/>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    </body>
</html>
