<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
      <title>Datos del Plan Publicitario</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Datos del Plan Publicitario</h1>
        <a th:href="@{/publicitario/}">Regresar</a>
        <br/>
        <form th:action="@{/publicitario/guardar}" method="post" th:object="${planPublicitario}">
            <input type="hidden" name="id" th:field="*{id}"/>
            <br/>
            <label for="precio">Precio: </label>
            <input type="number" name="precio" th:field="*{precio}"/>
            <br/>
            <label for="duracionDias">Duracion (Dias): </label>
            <input type="number" name="duracionDias" th:field="*{duracionDias}"/>
            <br/>
            <label for="alcance">Alcance: </label>
            <input type="text" name="alcance" th:field="*{alcance}"/>
            <br/>
            <br/>
            <label for="administrador">Administrador: </label>
            <input type="number" name="administrador" th:field="*{administrador}"/>
            <br/>
            <br/>
            <label for="publicidadList">Publicidad (Lista): </label>
            <input type="number" name="publicidadList" th:field="*{publicidadList}"/>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    </body>
</html>
