<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
      <title>Datos de la Entrada</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Datos de la Entrada</h1>
        <a th:href="@{/entrada/}">Regresar</a>
        <br/>
        <form th:action="@{/entrada/guardar}" method="post" th:object="${entrada}">
            <input type="hidden" name="id" th:field="*{id}"/>
            <br/>
            <label for="codigoQr">Codigo QR: </label>
            <input type="text" name="codigoQr" th:field="*{codigoQr}"/>
            <br/>
            <label for="precio">Precio: </label>
            <input type="number" name="precio" th:field="*{precio}"/>
            <br/>
            <label for="idCliente">Cliente: </label>
            <input type="text" name="idCliente" th:field="*{idCliente}"/>
            <br/>
            <br/>
            <label for="idEvento">Evento: </label>
            <input type="text" name="idEvento" th:field="*{idEvento}"/>
            <br/>
            <br/>
            <label for="pago">Pago: </label>
            <input type="text" name="idPago" th:field="*{idPago}"/>
            <br/>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    </body>
</html>
