<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
      <title>Datos de la Entrada</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Datos de la Entrada</h1>
        <a th:href="@{/entrada/}">Regresar</a>
        <br/>
        <form th:action="@{/entrada/guardar}" method="post" th:object="${entrada}">
            <input type="hidden" name="id" th:field="*{id}"/>
            <br/>
            <label for="codigoQr">Codigo QR: </label>
            <input type="text" name="codQr" th:field="*{codQr}"/>
            <br/>
            <label for="precio">Precio: </label>
            <input type="number" name="precio" th:field="*{precio}"/>
            <br/>
            <label for="cliente">Cliente: </label>
            <input type="number" name="cliente" th:field="*{cliente}"/>
            <br/>
            <br/>
            <label for="evento">Evento: </label>
            <input type="text" name="evento" th:field="*{evento}"/>
            <br/>
            <br/>
            <label for="pago">Pago: </label>
            <input type="text" name="pago" th:field="*{pago}"/>
            <br/>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    </body>
</html>
