<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
        <br/>
        <a th:href="@{/reserva/agregar}">Crear Reserva</a>
        <div th:if="${reservas != null and !reservas.empty}">
            <table border="1">
                <tr>
                    <th>Fecha</th>
                    <th>Cantidad de Personas</th>
                    <th>Codigo QR</th>
                    <th>Horario</th>
                    <th>Evento</th>
                    <th>Cliente</th>
                    <th>Pago</th>
                </tr>
                <tr th:each="reserva : ${reservas}">
                    <td th:text="${reserva.fecha}">Mostrar Fecha</td>
                    <td th:text="${reserva.cantPersonas}">Mostrar CantPersonas</td>
                    <td th:text="${reserva.codQr}">Mostrar CodQR</td>
                    <td th:text="${reserva.horario}">Mostrar Horario</td>
                    <td th:text="${reserva.evento}">Mostrar Evento</td>
                    <td th:text="${reserva.cliente}">Mostrar Cliente</td>
                    <td th:text="${reserva.pago}">Mostrar Pago</td>
                    
                    <td><a th:href="@{/reserva/editar/} + ${reserva.id}" th:text="Editar"/></td>
                    <td><a th:href="@{/reserva/eliminar(id=${reserva.id})}" th:text="Eliminar"/></td>
                </tr>
            </table>
        </div>
        <div th:if="${reservas == null or reservas.empty}">
            La lista de reservas está vacía
        </div>

    </body>
</html>
