<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
      <title>Datos de la Reserva</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Datos de la Reserva</h1>
        <a th:href="@{/reserva/}">Regresar</a>
        <br/>
        <form th:action="@{/reserva/guardar}" method="post" th:object="${reserva}">
            <input type="hidden" name="id" th:field="*{id}"/>
            <br/>
            <label for="fecha">Fecha: </label>
            <input type="text" name="fecha" th:field="*{fecha}"/>
            <br/>
            <label for="cantPersonas">Cantidad de Personas: </label>
            <input type="numbre" name="cantPersonas" th:field="*{cantPersonas}"/>
            <br/>
            <label for="codQr">Codigo QR: </label>
            <input type="text" name="codQr" th:field="*{codQr}"/>
            <br/>
            <br/>
            <label for="horario">Horario: </label>
            <input type="text" name="horario" th:field="*{horario}"/>
            <br/>
            <br/>
            <label for="evento">Evento: </label>
            <input type="number" name="evento" th:field="*{evento}"/>
            <br/>
            <br/>
            <label for="cliente">Cliente: </label>
            <input type="number" name="cliente" th:field="*{cliente}"/>
            <br/>
            <br/>
            <label for="pago">Pago: </label>
            <input type="number" name="pago" th:field="*{pago}"/>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    </body>
</html>
