<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
        <br/>
        <a th:href="@{/pago/agregar}">Crear Pago</a>
        <div th:if="${pagos != null and !pagos.empty}">
            <table border="1">
                <tr>
                    <th>Medio de Pago</th>
                    <th>Nombre y Apellido</th>
                    <th>CBU</th>
                    <th>Numero de Tarjeta</th>
                    <th>Codigo de Seguridad</th>
                    <th>Codigo de Pago</th>
                    <th>Fecha de Vencimiento</th>
                </tr>
                <tr th:each="pago : ${pagos}">
                    <td th:text="${pago.medioDePago}">Mostrar medio de pago</td>
                    <td th:text="${pago.nombreApellido}">Mostrar nombre completo</td>
                    <td th:text="${pago.cbu}">Mostrar CBU</td>
                    <td th:text="${pago.numTarjeta}">Mostrar numero de tarjeta</td>
                    <td th:text="${pago.codSeguridad}">Mostrar codigo de seguridad</td>
                    <td th:text="${pago.codPago}">Mostrar codigo de pago</td>
                    <td th:text="${pago.fechaVencimiento}">Mostrar fecha de vencimiento</td>
                    <td><a th:href="@{editar/} + ${pago.id}" th:text="Editar"/></td>
                    <td><a th:href="@{eliminar(id=${pago.id})}" th:text="Eliminar"/></td>
                    
                </tr>
            </table>
        </div>
        <div th:if="${pagos == null or pagos.empty}">
            La lista de pagos está vacía
        </div>

    </body>
</html>
