<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
      <title>Datos del Pago</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Datos del Pago</h1>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <form th:action="@{/guardar}" method="post" th:object="${pago}">
            <input type="hidden" name="id" th:field="*{id}"/>
            <br/>
            <label for="medioDePago">Medio de Pago: </label>
            <input type="text" name="medioDePago" th:field="*{medioDePago}"/>
            <br/>
            <label for="nombreApellido">Nombre y Apellido: </label>
            <input type="text" name="nombreApellido" th:field="*{nombreApellido}"/>
            <br/>
            <label for="cbu">CBU: </label>
            <input type="number" name="cbu" th:field="*{cbu}"/>
            <br/>
            <br/>
            <label for="numTarjeta">Numero de Tarjeta: </label>
            <input type="number" name="numTarjeta" th:field="*{numTarjeta}"/>
            <br/>
            <br/>
            <label for="codSeguridad">Codigo de Seguridad: </label>
            <input type="number" name="codSeguridad" th:field="*{codSeguridad}"/>
            <br/>
            <br/>
            <label for="codPago">Codigo de Pago: </label>
            <input type="text" name="codPago" th:field="*{codPago}"/>
            <br/>
            <br/>
            <label for="fechaVencimiento">Fecha de Vencimiento: </label>
            <input type="text" name="fechaVencimiento" th:field="*{fechaVencimiento}"/>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    </body>
</html>
