<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
        <br/>
        <a th:href="@{/evento/agregar}">Crear Evento</a>
        <div th:if="${eventos != null and !eventos.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Categoría</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Descripcion</th>
                    <th>Cantidad de entradas</th>
                    <th>Cantidad de reservas</th>
                    <th>Limite</th>
                    <th>Telefono</th>
                    <th>Creador de Evento</th>
                    <th>Lugar</th>
                </tr>
                <tr th:each="evento : ${eventos}">
                    <td th:text="${evento.nombre}">Mostrar nombre</td>
                    <td th:text="${evento.tipo}">Mostrar tipo</td>
                    <td th:text="${evento.categoría}">Mostrar categoria</td>
                    <td th:text="${evento.fecha}">Mostrar fecha</td>
                    <td th:text="${evento.hora}">Mostrar hora</td>
                    <td th:text="${evento.descripcion}">Mostrar descripcion</td>
                    <td th:text="${evento.cantEntradas}">Mostrar cantidad de entradas</td>
                    <td th:text="${evento.cantReservas}">Mostrar cantidad de reservas</td>
                    <td th:text="${evento.limite}">Mostrar limite</td>
                    <td th:text="${evento.telefono}">Mostrar telefono</td>
                    <td th:text="${evento.creadorDeEvento}">Mostrar creador de evento</td>
                    <td th:text="${evento.lugar}">Mostrar lugar</td>
                    <td><a th:href="@{editar/} + ${evento.id}" th:text="Editar"/></td>
                    <td><a th:href="@{eliminar(id=${evento.id})}" th:text="Eliminar"/></td>
                    
                </tr>
            </table>
        </div>
        <div th:if="${eventos == null or eventos.empty}">
            La lista de eventos está vacía
        </div>

    </body>
</html>
