<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
      <title>Datos del Evento</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Datos del Evento</h1>
        <a th:href="@{/evento/}">Regresar</a>
        <br/>
        <form th:action="@{/evento/guardar}" method="post" th:object="${evento}">
            <input type="hidden" name="id" th:field="*{id}"/>
            <br/>
            <label for="nombreEvento">Nombre: </label>
            <input type="text" name="nombreEvento" th:field="*{nombreEvento}"/>
            <br/>
            <label for="tipo">Tipo: </label>
            <input type="text" name="tipo" th:field="*{tipo}"/>
            <br/>
            <label for="categoria">Categoria: </label>
            <input type="text" name="categoria" th:field="*{categoria}"/>
            <br/>
            <br/>
            <label for="fecha">Fecha: </label>
            <input type="date" name="fecha" th:field="*{fecha}"/>
            <br/>
            <br/>
            <label for="descripcion">Descripcion: </label>
            <input type="text" name="descripcion" th:field="*{descripcion}"/>
            <br/>
            <br/>
            <label for="cantEntradas">Cantidad de Entradas: </label>
            <input type="number" name="cantEntradas" th:field="*{cantEntradas}"/>
            <br/>
            <br/>
            <label for="cantReservas">Cantidad de Reservas: </label>
            <input type="number" name="cantreservas" th:field="*{cantReservas}"/>
            <br/>
            <br/>
            <label for="limite">Limite: </label>
            <input type="number" name="limite" th:field="*{limite}"/>
            <br/>
            <br/>
            <label for="telefono">Telefono: </label>
            <input type="number" name="telefonoEvento" th:field="*{telefonoEvento}"/>
            <br/>
            <br/>
            <label for="creadorDeEvento">Creador de Evento: </label>
            <input type="number" name="creadorDeEvento" th:field="*{creadorDeEvento}"/>
            <br/>
            <br/>
            <label for="lugar">Lugar: </label>
            <input type="number" name="lugar" th:field="*{lugar}"/>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    </body>
</html>
